//import global rules
@import "assets/sass/global-rules";

//import variables
@import "assets/sass/variables";

//imoprt helpers
@import "assets/sass/helpers/mixins";

//use functions
@import "assets/sass/helpers/functions";

//import pages

@import "assets/sass/pages/header";
@import "assets/sass/pages/landing";
// @import "assets/sass/pages/ideathon-concept";
@import "assets/sass/pages/teezer-vid";
@import "assets/sass/pages/concepts";
@import "assets/sass/pages/trainings";
@import "assets/sass/pages/event-exp";
@import "assets/sass/pages/event-agenda";
@import "assets/sass/pages/our-sponsors";
@import "assets/sass/pages/footer";

.main-heading {
  text-align: center;
  color: $white-blue-color;
  font-size: 60px;
  text-shadow: $text-shadow;
  text-transform: uppercase;
}

@include tablet {
  .main-heading {
    font-size: rem(50);
  }
}

@include mobile {
  .main-heading {
    font-size: rem(37);
  }
}
