@import url("../_variables.scss");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e4e9ee;
}

/* the principal container which containe the hole content */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.col-1 {
  width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-2 {
  width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-4 {
  width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-5 {
  width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-7 {
  width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-8 {
  width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-9 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-10 {
  width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-11 {
  width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* end global rules */
.header {
  height: 80px;
  background-color: #f7f8fa;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container a.logo > img {
  max-width: 80px;
}

.header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .navbar li a {
  position: relative;
  margin-left: 2.8125rem;
  color: #373b51;
  font-size: 1.1875rem;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .container .navbar li a:hover {
  color: #0b60df;
}

.header .container .navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: #0b60df;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .container .navbar li a:hover::after {
  width: 100%;
}

@media (max-width: 992px) {
  .header .container .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 75px;
    padding: 30px 10px 40vh;
    right: -100%;
    width: 80%;
    height: 100vh;
    max-width: 300px;
    z-index: 2;
    background: linear-gradient(110deg, #1d8fe3 20%, #0b60df 100%);
    -webkit-transition: 1.2s;
    transition: 1.2s;
    position: fixed;
  }
  .header .container .navbar > li > a {
    margin-left: 0;
    color: #f7f8fa;
  }
  .header .container .navbar.open {
    right: 0;
  }
}

.header .container .toggle-nav {
  font-size: 1.5rem;
  padding: 1px;
  color: #373b51;
  display: none;
  z-index: 55;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 992px) {
  .header .container .navbar.open + .toggle-nav {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #0b60df93;
            box-shadow: 0 0 20px #0b60df93;
  }
  .header .container .toggle-nav {
    display: block;
  }
}

@media (max-width: 992px) {
  .header {
    height: 75px;
  }
}

.landing {
  min-height: calc(100vh - 80px);
  background-color: #e4e9ee;
  padding: 50px 0;
}

.landing .container:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .container:first-child .landing_img {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-right: 70px;
}

.landing .container:first-child .landing_img img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .landing .container:first-child .landing_img {
    display: none;
  }
}

.landing .container:first-child .landing_content {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.landing .container:first-child .landing_content .landing_title {
  color: #0b60df;
  margin-bottom: 1.5625rem;
  font-size: 4.0625rem;
  font-weight: 700;
}

.landing .container:first-child .landing_content .landing_title span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .landing .container:first-child .landing_content .landing_title {
    font-size: 2.1875rem;
    margin-bottom: 1.25rem;
  }
}

.landing .container:first-child .landing_content p {
  color: #373b51;
  font-size: 1.1875rem;
  margin-bottom: 2.5rem;
  line-height: 1.9;
  font-weight: 500;
}

.landing .container:first-child .landing_content .link-teaser-vid a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b60df;
  font-size: 1.375rem;
  margin-left: 3.125rem;
  font-weight: 600;
}

.landing .container:first-child .landing_content .link-teaser-vid a i.fa-circle-play {
  font-size: 2.8125rem;
  margin-right: 0.625rem;
  background-color: linear-gradient(110deg, #1d8fe3 20%, #0b60df 100%);
}

@media (max-width: 768px) {
  .landing .container:first-child .landing_content .link-teaser-vid a {
    margin-left: 0.625rem;
    font-size: 1.375rem;
  }
  .landing .container:first-child .landing_content .link-teaser-vid a i.fa-circle-play {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .landing .container:first-child {
    text-align: center;
  }
}

.landing .container:last-child .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5625rem;
  max-width: 800px;
  margin-left: auto;
  background-color: #f7f8fa;
  padding: 2.0625rem 3.8125rem;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 2px 2px 8px #aaa;
          box-shadow: 2px 2px 8px #aaa;
}

.landing .container:last-child .info-card li:not(:last-child) {
  font-size: 1.0625rem;
  color: #a8a8a8;
}

.landing .container:last-child .info-card li:not(:last-child) span {
  font-size: 1.1875rem;
  margin-top: 0.8125rem;
  font-weight: 600;
  color: #373b51;
}

@media (min-width: 769px) {
  .landing .container:last-child .info-card li:not(:last-child) span {
    display: block;
  }
}

.landing .container:last-child .info-card li:last-child a {
  background: linear-gradient(110deg, #1d8fe3 20%, #0b60df 100%);
  padding: 0.9375rem 1.5rem;
  border-radius: 0.4375rem;
  color: #f7f8fa;
}

.landing .container:last-child .info-card li:last-child a:hover {
  background-color: #0b60df;
}

@media (max-width: 768px) {
  .landing .container:last-child .info-card {
    padding: 1.6875rem 1.25rem;
    padding-right: 0.3125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing .container:last-child .info-card li {
    width: 100%;
    margin-bottom: 10px;
  }
  .landing .container:last-child .info-card li span {
    display: inline-block;
    margin: 0 0 0 10px;
  }
  .landing .container:last-child .info-card li:last-child {
    margin-top: 1.5625rem;
  }
  .landing .container:last-child .info-card li:last-child a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* start trainings */
.trainings {
  padding: 100px 0 0;
}

.trainings .main-heading {
  margin-bottom: 80px;
}

.trainings .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainings .container .row .col.trainer {
  position: relative;
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}

.trainings .container .row .col.trainer img {
  display: block;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: -2px 7px 10px rgba(170, 170, 170, 0.719);
          box-shadow: -2px 7px 10px rgba(170, 170, 170, 0.719);
}

.trainings .container .row .col.trainer .back {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, #1d8fe3 20%, #0b60df 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.trainings .container .row .col.training-dis {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.trainings .container .row .col.training-dis > h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #0b60df;
  margin-bottom: 0.4375rem;
}

.trainings .container .row .col.training-dis > p {
  line-height: 1.8;
  color: #6e7498;
  font-size: 1.0625rem;
}

@media (min-width: 992px) {
  .trainings .container .row:hover .col.trainer img {
    -webkit-transform: translate(25px, -10px);
            transform: translate(25px, -10px);
  }
  .trainings .container .row:hover .col.trainer .back {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  .trainings .container .row:hover .col.training-dis {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  .trainings .container .row.reverse:hover .col.training-dis {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

@media (min-width: 768px) {
  .trainings .container .row:not(:last-child) {
    margin-bottom: 9.375rem;
  }
}

.trainings .row.reverse .col.trainer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 768px) {
  .trainings .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.875rem;
    text-align: center;
  }
  .trainings .row .col {
    margin-bottom: 1.875rem;
  }
  .trainings .row.reverse .col.trainer {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

/* end trainings */
/* start event exp */
.event-exp {
  padding-top: 40px;
  padding-bottom: 40px;
}

.event-exp .container {
  text-align: center;
}

.event-exp .container .main-heading {
  margin-bottom: 25px;
}

.event-exp .container > p {
  line-height: 1.8;
  color: #6e7498;
  font-size: 1.0625rem;
}

.event-agenda {
  padding: 40px 1.25rem;
  text-align: center;
  color: #373b51;
}

.event-agenda h4.day {
  font-size: 1.875rem;
  margin-bottom: 3.125rem;
  font-weight: 500;
}

.event-agenda .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.event-agenda .row .col {
  max-width: 500px;
}

.event-agenda .row .col .time {
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
  font-weight: 500;
}

.event-agenda .row .col img {
  max-width: 100%;
  border-radius: 7px;
}

@media (min-width: 992px) {
  .event-agenda .row .col:not(:last-child) {
    margin-right: 1.25rem;
  }
}

.event-agenda .row:first-child {
  margin-bottom: 3.125rem;
}

.event-agenda .row:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .event-agenda .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-agenda .row .col {
    margin: 0;
    margin-bottom: 3.125rem;
  }
  .event-agenda .row .col .time {
    font-size: 1.3125rem;
    margin-bottom: 1.25rem;
  }
}

.main-heading {
  text-align: center;
  color: #0b60df;
  font-size: 60px;
  text-shadow: 2px 2px 4px #aaa;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .main-heading {
    font-size: 3.125rem;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2.3125rem;
  }
}
/*# sourceMappingURL=main.css.map */